body{
	background-color: rgb(255,57,68);
	color: white;
}

#response-box{

    padding: 10px;
    margin-top: 45px;
    margin-left: 50px;
}

#timer{
	width: 150px;
	height: 70px;
	border: 3px solid white;
	color:white;
	font-weight:bold;
	font-size: 12px;
	content: 00;
	margin:10px auto;
}

#timer-text{
	padding: 16px;
	font-size: 45px;
	font-weight: bold;
}




#invisble{
	height: 1px;
	background-color:transparent;
}

#camera{
    margin: 15px auto;
    display: block;

}

#snap{

    width: 125px;
    margin: 0 auto;
    padding: 7px;
    font-weight: bold;
    display: block;
    border: 3px solid white;
    background: none;

}

#snap:hover{
	background-color: white;
	color: rgb(238, 37, 68);
}

#end {
	width: 125px;
	margin: 0 auto;
	padding: 7 px;
	font-weight: bold;
	display: block;
	border: 3px solid white;
	background: none;
}

#end:hover {
	background-color: white;
	color: rgb(238, 37, 68);
}

#logo{
	width: 240px;
	position: absolute;
	top: -20px;
	left:30px;
}

#card-input{
	color: black;
}

#right{
	background-color: green;
	height: 100px;
}


#left{
	background-color: green;
	height: 100px;
}


#middle{
	background-color: blue;
	height: 100px;
}

#filter-button{
	background: transparent;
    border: 3px solid white;
	border-radius: 0px;
    padding: 7px;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 11px;
}

#filter-button:hover{
	background: white;
    border: 3px solid white;
	color: rgb(238, 37, 68);
}

#snap-choice> p{
	font-size:18px;
	font-weight: bold;
}

#positive{
	background: transparent;
    border: 3px solid white;
	border-radius: 0px;
    padding: 7px;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 11px;
}

#negative{
	background: transparent;
    border: 3px solid white;
	border-radius: 0px;
    padding: 7px;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 11px;
}

#positive:hover{
	background-color: #449D44;
	color: white;
}


#negative:hover{
	background-color: #C9302C;
	color: white;
}

#canvas{
	margin-top: 5px;
	width: 304px;
}
