body{
	background-color: rgb(255,57,68);
	color: white;
	overflow: hidden;
}

.heading{
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 700;
	text-shadow: 2px 2px 0px #9C1229;
}

#response-box{

	padding: 10px;
	margin-top: 45px;
	margin-left: 50px;
}

#timer{
	width: 150px;
	height: 70px;
	border: 3px solid white;
	color:white;
	font-weight:bold;
	font-size: 12px;
	content: 00;
	margin:10px auto;
}

#timer-text{
	padding: 16px;
	font-size: 45px;
	font-weight: bold;
}

#tag{

	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
	text-shadow: 2px 2px 0px #9C1229;
	font-size: 18px;

	position: absolute;
	bottom: 12%;
	left:50%;

}




#invisble{
	height: 1px;
	background-color:transparent;
}

#snap{

	width: 125px;
	margin: 0 auto;
	padding: 7px;
	font-weight: bold;
	display: block;
	border: 3px solid white;
	background: none;

}

#snap:hover{
	background-color: white;
	color: rgb(238, 37, 68);
}

#end {
	width: 125px;
	margin: 0 auto;
	padding: 7px;
	font-weight: bold;
	display: block;
	border: 3px solid white;
	background: none;
}

#end:hover {
	background-color: white;
	color: rgb(238, 37, 68);
}

#logo{
	width: 240px;
	position: absolute;
	top: -20px;
	left:30px;
}

#card-input{
	color: black;
}

#card-input-box{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

#right{
	background-color: green;
	height: 100px;
}


#left{
	background-color: green;
	height: 100px;
}


#middle{
	background-color: blue;
	height: 100px;
}

#filter-button{
	background: transparent;
	border: 3px solid white;
	border-radius: 0px;
	padding: 7px;
	width: 150px;
	font-weight: bold;
	font-size: 15px;
	margin-top: 11px;
}

#filter-button:hover{
	background: white;
	border: 3px solid white;
	color: rgb(238, 37, 68);
}

#snap-choice> p{
	font-size:18px;
	font-weight: bold;
}

#positive{
	background: transparent;
	border: 3px solid white;
	border-radius: 0px;
	padding: 7px;
	width: 150px;
	font-weight: bold;
	font-size: 15px;
	margin-top: 11px;
}

#negative{
	background: transparent;
	border: 3px solid white;
	border-radius: 0px;
	padding: 7px;
	width: 150px;
	font-weight: bold;
	font-size: 15px;
	margin-top: 11px;
}

#positive:hover{
	background-color: #449D44;
	color: white;
}


#negative:hover{
	background-color: #C9302C;
	color: white;
}

#camera {
	width: 100%;
	height: 100%;
}

#canvas{
	width: 100%;
	height: 100%;
}

@media (width: 1366px) {
	#camera-frame {
		width: 640px;
		height: 480px;
	}

	#canvas-frame {
		width: 640px;
		height: 480px;
	}
}


@media (width: 1920px) {
	#camera-frame {
		width: 1280px;
		height: 720px;
	}

	#canvas-frame {
		width: 1280px;
		height: 720px;
	}
}